<!DOCTYPE html>
<html lang="en" ng-app="taskApp">
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<style type="text/css">
	.completed {
		color : red;
		text-decoration: line-through;
		font-style: italic;
		font-weight: bold;
	}
	th {
		cursor: pointer;
	}
	</style>
	<script src="angular.js"></script>
	<script src="moment.js"></script>
	<script>

		

		var taskApp = angular.module("taskApp", []);

		taskApp.filter("fromNow", function(){
			return function(data){
				data = data || new Date();
				return moment(data).fromNow();
			}
		})

		taskApp.factory("Task", function(){
			function Task(defaults){
				this.id = defaults.id || -1;
				this.name = defaults.name || "";
				this.category = defaults.category || "Official";
				this.createdOn = defaults.createdOn || new Date();
				this.isCompleted = defaults.isCompleted || false;
			}
			Task.prototype.toggle = function(){
				this.isCompleted = !this.isCompleted;
			}
			return function(defaults){
				return new Task(defaults);
			}
		});

		taskApp.service("taskStorage", function TaskStorage(Task){
			
			var storage = window.localStorage;

			this.add = function addTask(taskName, taskCategory){
				var id = new Date().getTime().toString();
				var newTask = Task({
					id : id,
					name : taskName,
					category : taskCategory,
					isCompleted : false
				});
				storage.setItem(id, JSON.stringify(newTask));
				return newTask;
			};

			this.save = function save(task){
				storage.setItem(task.id, JSON.stringify(task));
			};
			this.remove = function removeTask(id){
				storage.removeItem(id);
			};

			this.getAll = function getAllTasks(){
				var result = [];
				for(var i=0;i<storage.length;i++)
					result.push(Task(JSON.parse(storage.getItem(storage.key(i)))));
				return result;
			};
		});

		taskApp.controller("taskController", function taskController($scope, Task, taskStorage){
	
			$scope.list = taskStorage.getAll();

			$scope.addTask = function(taskName, taskCategory){
				var newTask = taskStorage.add(taskName, taskCategory);
				$scope.list.push(newTask);
			};
			$scope.toggle = function(task){
				task.toggle();
				taskStorage.save(task);
			};
			$scope.removeCompleted = function(){
				$scope.list.filter(function(t){
					return t.isCompleted;
				}).forEach(function(t){
					taskStorage.remove(t.id);
				});

				$scope.list = $scope.list.filter(function(t){
					return !t.isCompleted;
				});
			}
			
		});

	
	</script>
</head>
<body>
	<h1>Task Manager</h1>
	<hr>
	<div data-ng-controller="taskController">
		<div>Task # : {{list.length}}</div>
		<label for="">Task :</label>
		<input type="text" data-ng-model="newTaskName">
		<select data-ng-model="taskCategory">
			<option value="Official">Official</option>
			<option value="Personal">Personal</option>
			<option value="Social">Social</option>
		</select>
		<input type="button" value="Add Task" data-ng-click="addTask(newTaskName, taskCategory)" data-ng-disabled="newTask === ''">
		<input type="button" value="Remove Completed" data-ng-click="removeCompleted()">
		<!-- <ol>
			<li data-ng-repeat="task in list" data-ng-click="toggle(task)" data-ng-class="{completed : task.isCompleted}">{{task.name | uppercase}}</li>
		</ol> -->
		<table width="100%">
			<tr>
				<th data-ng-click="sortBy='name' ; sortOrder = sortBy === 'name' ? !sortOrder: false">Name</th>
				<th data-ng-click="sortBy='category' ; sortOrder = sortBy === 'category' ? !sortOrder: false">Category</th>
				<th data-ng-click="sortBy='isCompleted' ; sortOrder = sortBy === 'isCompleted' ? !sortOrder: false">Status</th>
				<th data-ng-click="sortBy='createdOn'; sortOrder = sortBy === 'createdOn' ? !sortOrder: false">Created On</th>
				<th ></th>
			</tr>
			<tr data-ng-repeat="task in list | orderBy:sortBy:sortOrder">
				<td data-ng-class="{completed : task.isCompleted}">{{task.name}}</td>
				<td>{{task.category}}</td>
				<td>{{task.isCompleted ? "Completed" : "In Complete"}}</td>
				<td>{{task.createdOn | fromNow}}</td>
				<td><input type="button" value="Toggle" data-ng-click="toggle(task)"></td>
			</tr>
		</table>
	</div>
</body>
</html>